* {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.opodnbxojd {
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

img {
    width: 100%;
    padding: 0;
    margin: 0;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav a {
  display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    color: yellow;
    margin: 0;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: blue;
    background-color: #259225;
  }

.hiddenNav {
    display: none;
}

.hiddenNav li {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#navBackground {
    background-image: url("../images/0x0.jpg");
    height: 400px;
    width: 100%;
    padding: 0;
    margin: 0;
}

button {
  width: 30%;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: large;
  
}

form {
  margin-left: 20vw;
  margin-right: 20vw;
  border: 20px solid black;
  border-style: groove;    
}

form > h2 {
  text-align: center;
}

input {
  margin-top: 20px;
}

input[type="radio"], input[type="file"] {
  margin-left: 70px;
}

input[type="file"]::before {
  content: "\a";
  white-space: pre;
}

label {
  margin-top: 20px;
}

span {
  font-size: 12px;
}

section {
  min-height: 100vh;
}

section:nth-child(odd) {
  background-color: green;


} 

section:nth-child(even) {
  background-color: darkgreen;
  
} 
